@use '/styles/lib/var';
@use '/styles/lib/breakpoint.scss';

.nav_logo{
    position: fixed;
    top: 1vw;
    left: 1vh;
    font-size: var.$xl_font;
    z-index: 998;
    line-height: 0.85;
    text-align: left;
    overflow: hidden;
    font-family: var.$logo_font;
    mix-blend-mode: difference;
    color: white;
    
    @include breakpoint.breakpoint(mobile){
        font-size: var.$lg_font;
    }
}
.nav{
    display: flex; //grid
    position:fixed;
    top: 0;
    left: 0;
    right: 0;
    height: var.$navbar_h;
    background-color: var.$bg_white;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
    font-size: var.$sm_font;
    transition-duration: 0.5s;
    z-index: 997;
    @include breakpoint.breakpoint(mobile){
        font-size: var.$xs_font;
        height: var.$navbar_h_m;
        padding: 20px 3%;
    }
}

.navLink_container{
    overflow: visible;
}
.navLink{
    padding: 0px 10px 5px 10px;
    margin: 0px 10px;
    @include breakpoint.breakpoint(mobile){
        margin: 0 5px;
    }
}

.navLink:hover{
    color: var.$accent_color;
    border-bottom: 1px solid black;
}

.navLink_container{
}

.reserve{
    @extend %button_reg;
    position: fixed;
    right: 1vw;
    bottom: 1vh;
    border-color: black;
    z-index: 999;
}