@use '/styles/lib/var';

.nav_logo{
    position: fixed;
    top: 1vw;
    left: 1vh;
    font-size: var.$xl_font;
    z-index: 999;
    line-height: 0.85;
    text-align: left;
    overflow: hidden;
    font-family: var.$logo_font;
}
.nav{
    display: flex; //grid
    position:fixed;
    top: 0;
    left: 0;
    right: 0;
    height: var.$navbar_h;
    background-color: var.$bg_white;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
    font-size: var.$sm_font;
    transition-duration: 0.5s;
    z-index: 998;
}

.navLink_container{
    overflow: visible;
}
.navLink{
    padding: 0px 10px 5px 10px;
    margin: 0px 10px
}

.navLink:hover{
    color: var.$accent_color;
    border-bottom: 1px solid black;
}

.navLink_container{
}

.reserve{
    font-size: var.$sm_font;
    font-family: WorkLight;
    background-color: transparent;
    border: 1px solid black;
    border-radius: 7px;
    padding: 5px 20px;

    &:hover{
        background-color: rgb(245, 245, 245, 0.1);
        color: var.$accent_color;
        border-color: var.$accent_color;
    }
}